html,body{margin:0;padding:0}
body{font: 76% arial,sans-serif;text-align:center}
p{margin:0 10px 10px}
a{padding:5px; text-decoration:none; color:#000000;}
div#header{background-color:#2c3e50;}
div#header h1{height:80px;line-height:80px;margin:0;padding-left:10px;}
div#container{text-align:left}
div#content p{line-height:1.4}
div#navigation{background:#F6F0E0;}
div#navigation ul{margin:15px 0; padding:0; list-style-type:none;}
div#navigation li{margin-bottom:5px;}
div#extra{background:#CCC8B3;}
div#footer{background:#18bc9c;}
div#footer p{margin:0;padding:5px 10px}

button#connectButton{

}
button#createRoomButton{

}
.intro-text {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
    color:#18bc9c;
    padding: 5px;
}
h1,h2,h3,h3{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.footer__text{
    color:#2c3e50;
    padding: 5px;
    font-size:1.5em;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}
.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}